<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Oguz Fitness | Blog</title>
	<!-- Stylesheets -->
	<link href="/css/bootstrap.css" rel="stylesheet">

	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">

	<!-- Color Switcher Mockup -->
	<link href="/css/color-switcher-design.css" rel="stylesheet">

	<!-- Color Themes -->
	<link id="theme-color-file" href="/css/color-themes/default-theme.css" rel="stylesheet">

	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap"
		rel="stylesheet">

	<link rel="shortcut icon" href="/images/logo-bg.png" type="image/x-icon">
	<link rel="icon" href="/images/logo-bg.png" type="image/x-icon">

	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

	<div class="page-wrapper">

		<!-- Preloader -->
		<div class="preloader"></div>

		<%- include("partials/header") %>

			<!--Page Title-->
			<section class="page-title" style="background-image:url(/images/resource/2.jpg)">
				<div class="auto-container">
					<div class="clearfix">
						<div class="pull-left">
							<h2>Latest News</h2>
							<div class="text">Fitness is not a destination it is a way of life.</div>
						</div>
						<div class="pull-right">
							<ul class="page-breadcrumb">
								<li><a href="index.html">home</a></li>
								<li>Blog</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!--End Page Title-->

			<!-- Sidebar Cart Item -->
			<div class="xs-sidebar-group info-group">
				<div class="xs-overlay xs-bg-black"></div>
				<div class="xs-sidebar-widget">
					<div class="sidebar-widget-container">
						<div class="widget-heading">
							<a href="#" class="close-side-widget">
								X
							</a>
						</div>
						<div class="sidebar-textwidget">

							<!-- Sidebar Info Content -->
							<div class="sidebar-info-contents">
								<div class="content-inner">
									<div class="logo">
										<a href="index.html"><img src="https://via.placeholder.com/230x100"
												alt="" /></a>
									</div>
									<div class="content-box">
										<h2>About Us</h2>
										<p class="text">The argument in favor of using filler text goes something like
											this: If you use real content in the Consulting Process, anytime you reach a
											review point you’ll end up reviewing and negotiating the content itself and
											not the design.</p>
										<a href="#" class="theme-btn btn-style-two"><span
												class="txt">Consultation</span></a>
									</div>
									<div class="contact-info">
										<h2>Contact Info</h2>
										<ul class="list-style-one">
											<li><span class="icon fa fa-location-arrow"></span>Chicago 12, Melborne
												City, USA</li>
											<li><span class="icon fa fa-phone"></span>(111) 111-111-1111</li>
											<li><span class="icon fa fa-envelope"></span>Gym@gmail.com</li>
											<li><span class="icon fa fa-clock-o"></span>Week Days: 09.00 to 18.00
												Sunday: Closed</li>
										</ul>
									</div>
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a href="#" class="fa fa-facebook-f"></a></li>
										<li class="twitter"><a href="#" class="fa fa-twitter"></a></li>
										<li class="linkedin"><a href="#" class="fa fa-linkedin"></a></li>
										<li class="instagram"><a href="#" class="fa fa-instagram"></a></li>
										<li class="youtube"><a href="#" class="fa fa-youtube"></a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- END sidebar widget item -->

			<!--Sidebar Page Container-->
			<div class="sidebar-page-container">
				<div class="auto-container">
					<div class="row clearfix">

						<!--Content Side-->
						<div class="content-side col-lg-8 col-md-12 col-sm-12">
							<!-- Blog Classic -->
							<div class="blog-classic">
								<% if(data.length){for(var i=0; i< data.length; i++) {%>
									<!-- News Block Three -->
									<div class="news-block-three">
										<div class="inner-box">
											<div class="image">
												<a href="/blog-single/<%=data[i].id %>"><img
														src="/images/resource/<%=data[i].image%>" alt="" /></a>
											</div>
											<div class="lower-content">
												<ul class="post-meta">
													<li><span class="icon flaticon-user-1"></span> By Admin</li>
													<li><span class="icon flaticon-calendar-1"></span>
														<%=data[i].date %>
													</li>
												</ul>
												<h3><a href="/blog-single/<%=data[i].id %>">
														<%=data[i].title%>>
													</a></h3>
												<div class="text">
													<%=data[i].text%>
												</div>
												<a class="read-more" href="/blog-single/<%=data[i].id %>">Read More</a>
											</div>
										</div>
									</div>
									<% } }else{ %>
										<% } %>
											<!-- Post Share Options -->
											<div class="pagination-outer text-center">
												<div class="styled-pagination text-center">
													<ul class="clearfix">
														<% if(page> 1) {%>
															<li class="prev"><a href="/blog/?page=<%=page-1%>"><span
																		class="fa fa-angle-double-left"></span> Prev</a>
															</li>
															<% } %>
																<% for(let i=iterator; i <=endingLink; i++) { %>
																	<% if(i===page){ %>
																		<li class="active"><a href="/blog/?page=<%=i%>">
																				<%=i%>
																			</a></li>
																		<% continue; %>
																			<% } %>
																				<li><a href="/blog/?page=<%=i%>">
																						<%=i%>
																					</a></li>
																				<% } %>
																					<% if(page < numberOfPages) {%>
																						<li class="next"><a
																								href="/blog/?page=<%=page+1%>">
																								Next <span
																									class="fa fa-angle-double-right"></span></a>
																						</li>
																						<%} %>
													</ul>
												</div>
											</div>

							</div>
						</div>

						<!--Sidebar Side-->
						<div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
							<aside class="sidebar sticky-top">

								<!-- Categories Widget -->
								<div class="sidebar-widget popular-posts">
									<div class="sidebar-title">
										<h4>Recent Post</h4>
									</div>
									<div class="widget-content">
										<% if(data2.length){for(var i=0; i< data2.length; i++) {%>
											<article class="post">
												<div class="post-inner">
													<figure class="post-thumb"><img
															src="/images/resource/<%=data2[i].image%>" alt=""><a
															href="/blog-single/<%=data2[i].id%>"
															class="overlay-box"><span
																class="icon fa fa-link"></span></a>
													</figure>
													<div class="text"><a href="/blog-single/<%=data2[i].id%>">
															<%=data2[i].title%>
														</a></div>
													<div class="post-info">
														<%=data2[i].date%>
													</div>
												</div>
											</article>
											<% } }else{ %>
												<% } %>
									</div>
								</div>
							</aside>
						</div>

					</div>
				</div>
			</div>

			<%- include("partials/footer") %>

	</div>
	<!--End pagewrapper-->

	<!--Scroll to top-->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

	<script src="/js/jquery.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/js/jquery.fancybox.js"></script>
	<script src="/js/appear.js"></script>
	<script src="/js/parallax.min.js"></script>
	<script src="/js/tilt.jquery.min.js"></script>
	<script src="/js/jquery.paroller.min.js"></script>
	<script src="/js/owl.js"></script>
	<script src="/js/mixitup.js"></script>
	<script src="/js/wow.js"></script>
	<script src="/js/nav-tool.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/color-settings.js"></script>

</body>

</html>